# Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Import Data

In [12]:
#Creating a pathway
path = '/Users/katherinevaldivia/Desktop/Career Foundry Data Analytics Course work/Data Analytics Immersion/Achievement 6/Citi Bike Analysis '
path

'/Users/katherinevaldivia/Desktop/Career Foundry Data Analytics Course work/Data Analytics Immersion/Achievement 6/Citi Bike Analysis '

In [13]:
#Importing data
citidf = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'citibike.csv'), index_col = False)

# Wrangling and Cleaning Data

In [14]:
citidf.head()

,trip_id,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,LnQzQk,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,2
1,IL9boN,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,1
2,46clGB,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,1
3,v7vdFt,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,2
4,VGBsb5,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,NaN,0

In [18]:
citidf.shape

(50000, 18)

In [16]:
citidf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_id                  50000 non-null  object
 1   bike_id                  50000 non-null  int64
 2   weekday                  50000 non-null  object
 3   start_hour               50000 non-null  int64
 4   start_time               50000 non-null  object
 5   start_station_id         50000 non-null  int64
 6   start_station_name       50000 non-null  object
 7   start_station_latitude   50000 non-null  float64
 8   start_station_longitude  50000 non-null  float64
 9   end_time                 50000 non-null  object
 10  end_station_id           50000 non-null  int64
 11  end_station_name         50000 non-null  object
 12  end_station_latitude     50000 non-null  float64
 13  end_station_longitude    50000 non-null  float64
 14  trip_duration            50000 non-null  int64
 15  subscriber               50000 non-null  object
 16  birth_year               43021 non-null  float64
 17  gender                   50000 non-null  int64
dtypes: float64(5), int64(6), object(7)
memory usage: 6.9+ MB

In [17]:
citidf.isnull().sum()

trip_id                       0
bike_id                       0
weekday                       0
start_hour                    0
start_time                    0
start_station_id              0
start_station_name            0
start_station_latitude        0
start_station_longitude       0
end_time                      0
end_station_id                0
end_station_name              0
end_station_latitude          0
end_station_longitude         0
trip_duration                 0
subscriber                    0
birth_year                 6979
gender                        0
dtype: int64

In [20]:
#Creating a subset data of null values from birth_year and checking the shape to confirm
null_birth = citidf[citidf['birth_year'].isnull() ==True]
null_birth.shape

(6979, 18)

In [21]:
#Dropping all null values from birth_year and checking shape
citidf_clean = citidf[citidf['birth_year'].isnull()== False]
citidf_clean.shape

(43021, 18)

In [22]:
#Looking at the data head I see two cloumns that are not neccessary for my analysis so those will be dropped.
citidf_clean = citidf_clean.drop(columns = ['trip_id'])

In [23]:
citidf_clean = citidf_clean.drop(columns = ['bike_id'])

In [24]:
#Checking for duplicates
citi_dups = citidf_clean[citidf_clean.duplicated()]
citi_dups

Empty DataFrame
Columns: [weekday, start_hour, start_time, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_time, end_station_id, end_station_name, end_station_latitude, end_station_longitude, trip_duration, subscriber, birth_year, gender]
Index: []

### No duplicates found

In [25]:
#Some birth years go back as early as the 1800s which is unreasonable 
#Creating a subset for those born 1924 and beyond.
citidf_clean1 = citidf_clean.loc[citidf_clean['birth_year'] > 1922]

In [26]:
#checking shape
citidf_clean1.shape

(42993, 16)

In [29]:
#Checking new subset data head 
citidf_clean1.head()

,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,2
1,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,1
2,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,1
3,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,2
5,Fri,22,2013-09-27 22:01:01,293,Lafayette St & E 8 St,40.730287,-73.990765,2013-09-27 22:08:08,432,E 7 St & Avenue A,40.726218,-73.983799,427,Subscriber,1986.0,2

In [30]:
# Gender seems to be categorized by numbers 
# Changing number values in gender column to name values
citidf_clean1['gender']=citidf_clean1['gender'].replace([0,1,2],['unknown','male','female'])

/var/folders/kp/9p8z9q3x6113kvlh8pwcxm1r0000gn/T/ipykernel_25783/32746238.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  citidf_clean1['gender']=citidf_clean1['gender'].replace([0,1,2],['unknown','male','female'])

In [32]:
#Checking to see if changes were successful
citidf_clean1['gender'].unique()

array(['female', 'male', 'unknown'], dtype=object)

In [35]:
#changing gender int64 datatype to string
citidf_clean1['gender'] = citidf_clean1['gender'].astype('str')

/var/folders/kp/9p8z9q3x6113kvlh8pwcxm1r0000gn/T/ipykernel_25783/973988944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  citidf_clean1['gender'] = citidf_clean1['gender'].astype('str')

In [44]:
#checking to see if gender data type was changed successfully
citidf_clean1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42993 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   weekday                  42993 non-null  object
 1   start_hour               42993 non-null  int64
 2   start_time               42993 non-null  datetime64[ns]
 3   start_station_id         42993 non-null  int64
 4   start_station_name       42993 non-null  object
 5   start_station_latitude   42993 non-null  float64
 6   start_station_longitude  42993 non-null  float64
 7   end_time                 42993 non-null  datetime64[ns]
 8   end_station_id           42993 non-null  int64
 9   end_station_name         42993 non-null  object
 10  end_station_latitude     42993 non-null  float64
 11  end_station_longitude    42993 non-null  float64
 12  trip_duration            42993 non-null  int64
 13  subscriber               42993 non-null  object
 14  birth_year               42993 non-null  float64
 15  gender                   42993 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(4), object(5)
memory usage: 5.6+ MB

In [38]:
#Changing start_time and end_time data type to datetime
citidf_clean1['start_time']=pd.to_datetime(citidf_clean1['start_time'],infer_datetime_format=True)

/var/folders/kp/9p8z9q3x6113kvlh8pwcxm1r0000gn/T/ipykernel_25783/1411184861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  citidf_clean1['start_time']=pd.to_datetime(citidf_clean1['start_time'],infer_datetime_format=True)

In [39]:
citidf_clean1['end_time']=pd.to_datetime(citidf_clean1['end_time'],infer_datetime_format=True)

/var/folders/kp/9p8z9q3x6113kvlh8pwcxm1r0000gn/T/ipykernel_25783/284039859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  citidf_clean1['end_time']=pd.to_datetime(citidf_clean1['end_time'],infer_datetime_format=True)

In [42]:
#Making sure data type was changed successfully
citidf_clean1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42993 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   weekday                  42993 non-null  object
 1   start_hour               42993 non-null  int64
 2   start_time               42993 non-null  datetime64[ns]
 3   start_station_id         42993 non-null  int64
 4   start_station_name       42993 non-null  object
 5   start_station_latitude   42993 non-null  float64
 6   start_station_longitude  42993 non-null  float64
 7   end_time                 42993 non-null  datetime64[ns]
 8   end_station_id           42993 non-null  int64
 9   end_station_name         42993 non-null  object
 10  end_station_latitude     42993 non-null  float64
 11  end_station_longitude    42993 non-null  float64
 12  trip_duration            42993 non-null  int64
 13  subscriber               42993 non-null  object
 14  birth_year               42993 non-null  float64
 15  gender                   42993 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(4), object(5)
memory usage: 5.6+ MB

In [43]:
#Checking data head one more time
citidf_clean1.head()

,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,female
1,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,male
2,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,male
3,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,female
5,Fri,22,2013-09-27 22:01:01,293,Lafayette St & E 8 St,40.730287,-73.990765,2013-09-27 22:08:08,432,E 7 St & Avenue A,40.726218,-73.983799,427,Subscriber,1986.0,female

# Saving and Exporting

In [45]:
citidf_clean1.to_csv(os.path.join(path, '02 Data','Prepared Data', 'citibikeclean.csv'))